<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="myget.org" value="https://www.myget.org/F/pvr-main/auth/1d86e70f-adc8-48b6-b20d-bc36c82ee9cc/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
